header {
    position: fixed;
    max-width: 1300px;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
    backdrop-filter: blur(10px);
}

header nav {
    display: flex;
    gap: 30px;
}

header nav span {
    cursor: pointer;
}

.active {
    color: #e945e3;
    text-shadow: 0 0 2px;
}

.logo span {
    color: #e945e3;
    text-shadow: 0 0 2px;
}
